TD
{
    FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #444444
}
TD.home
{
    FONT: 9pt "±¼¸²";   
    COLOR: #ffffff
}
TD.pup
{
	FONT: 9pt "±¼¸²";
	COLOR: #ffffff;	
	font-weight: bold;
}

A:link
{
    FONT:  "±¼¸²";
    line-height:140%;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A:visited
{ 
    FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #444444;
    TEXT-DECORATION: none
}
A:hover
{
    FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #81124B;
    TEXT-DECORATION: underline
}
TD.gray
{
    BORDER-RIGHT: #AEACAE 1px solid;
    BORDER-BOTTOM: #AEACAE 1px solid
}
TABLE.gray
{
    BORDER-TOP: #AEACAE 1px solid;
    BORDER-LEFT: #AEACAE 1px solid
}
TABLE.gray1
{
 BORDER-LEFT: #AEACAE 1px solid
}
TABLE.carlendar
{
    BORDER: #A2A1A2 1px solid
}
TD.bodyline
{
  BORDER-right: #C3C3C3 1px solid
}

TD.list
{
  BORDER-BOTTOM: #C5C5C3 1px solid
}
TD.submenu
{
  BORDER-LEFT: #787878 1px dotted
}
TD.title
{
 BORDER-top: #927F5B 2px solid;
 BORDER-BOTTOM: #927F5B 1px solid
}
TD.sea_top
{
 BORDER-top: #927F5B 2px solid; 
}
table.title1
{
 BORDER-top: #927F5B 1px solid;
 BORDER-BOTTOM: #927F5B 1px solid
}
table.title2
{
 BORDER-top: #ADABAB 1px solid;
 BORDER-BOTTOM: #ADABAB 1px solid
}
.form_box
{
    CLEAR: none;
    BORDER : #EA8FB4 1px solid;   
    FLOAT: none;
    HEIGHT: 19px   
}
SELECT.sel_all
{
    FONT-SIZE: 9pt;
    BACKGROUND: #DEDBDB;  
    COLOR: #555555;
    FONT-FAMILY: "±¼¸²"
}

input.text_box
{
    FONT-SIZE: 9pt;
    BORDER: #999999 1px solid;
    FLOAT: none;   
    HEIGHT: 18px
}
.scroll1 {
    scrollbar-face-color: #D9D9D8;
    scrollbar-shadow-color: #D0D0CF; 
    scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #7C7B7B; 
	scrollbar-darkshadow-color: #767676;
	scrollbar-track-color: #F8F7F7; 
	scrollbar-arrow-color: #3F3F3F
}
img
{
	border:0;
}

.lee { 
border-bottom:AEACAE 1px solid
}
