<!doctype html>
<html ng-app="app">
  <head>
    <script src="/js/angular.min.js"></script>
	<!-- script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>	
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>    
	<script src="/js/ui-grid.js"></script> 
	<script src="/css/ui-grid.css"></script>    
    <link rel="stylesheet" type="text/css" href="/css/stylel_sheet.css" />
	<style type="text/css">
	<!--
	.grid {
	  width: 500px;
	  height: 450px;
	}	
	-->
	</style>	
  </head>
  <body>
	<!-- div ng-app="schForm" ng-controller="myCtrl"-->
	<div ng-controller="myCtrl">	
	<input class="btn02" type="button" ng-click="ad_bas_3310_l()" value="조회">
	<table>
		<tr>
			<td>거래처구분</td>
			<td>
				<select ng-model="dlco_clsf">
				<option ng-repeat="x in names">{{x}}</option>
				</select>			
			</td>
			<td>거래처명</td>
			<td>
				<input type="text" ng-model="dlco_nm">
			</td>
		</tr>
	</table>
	<p>{{dlco_clsf}}</p>
	<p>{{dlco_nm}}</p>
	<ul>
		<li ng-repeat="x in recodrs">{{x.dlco_no + ' , ' + x.dlco_nm}}</li>
	</ul>
        <div id="grid1" ui-grid="gridOptions" class="grid"></div>
    </div>
	<script>
	var app = angular.module('app', ['ngTouch', 'ui.grid']);
	app.controller('myCtrl', ['$scope','$http', function ($scope,$http) {
	    $scope.names = ["전체", "광고주", "대행사","광고지사"];
	    
	    $scope.gridOptions = {
	    };
	    
		$scope.gridOptions.columnDefs = [
		  {name:'dlco_no'},
		  {name:'dlco_nm'},
		  {name:'presi_nm'}, 
		  {name:'ern'},
		  {name:'addr'},
		  {name:'tel_no'},
		  {name:'bizcond'},
		  {name:'item'},
		  {name:'slcrg_nm'},
		  {name:'mchrg_nm'}
		];
			    
	    $scope.ad_bas_3310_l = function(){
	         $http.get("/ad/bas/3310").success(function(data){
	             $scope.gridOptions.data = data;
	         });
	    };
	}]);

	</script>
  </body>
</html>