<?xml version = "1.0" encoding = "KSC5601"?>
<!--
	allowDomain : 접근 허용 도메인
	uploadUrl : 업로드 처리 URL
	limitSize : 허용 최대 파일 사이즈
	fileTypeName : 파일 형식에 보여질 텍스트
	allowFileType : 업로드 허용 가능 파일 타입 지정( *.jpg, *.gif 형식으로 추가 )

	예) 이미지 파일만 가능하게.
	<fileTypeName>이미지 파일</fileTypeName>
	<allowFileType>
		<fileType>*.jpg</fileType>
		<fileType>*.gif</fileType>
		<fileType>*.bmp</fileType>
	</allowFileType>

	notAllowFileType : 업로드 제한 파일 타입 지정( allowFileType 과 같은 형식으로 지정 )
-->
<config>
	<allowDomain></allowDomain>
	<uploadUrl>/jsp/ss/upload/FileInfoView.jsp</uploadUrl>
	<limitSize unit = "mb">100</limitSize>
	<fileTypeName>모든 파일</fileTypeName>
	<allowFileType>
		<fileType>*.*</fileType>
	</allowFileType>
	<notAllowFileType>
		<fileType>*.jsp</fileType>
		<fileType>*.php</fileType>
		<fileType>*.html</fileType>
	</notAllowFileType>
</config>	