TD
{
    FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #444444
}

A:link
{
    FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #5C5C24;
    TEXT-DECORATION: none
}
A:visited
{
    FONT: 9pt "±¼¸²";
    COLOR: #5C5C24;
    line-height:140%;
    TEXT-DECORATION: none
}
A:hover
{
    FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #156E87;
    TEXT-DECORATION: underline
}
TD.day
{
    FONT: 9pt "±¼¸²";
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
TD.home
{
   BORDER-BOTTOM: #E5E5E5 3px solid
}
TD.title
{
 FONT: 12pt "±¼¸²";
    line-height:140%;
    COLOR: #F54008
}
TD.subtitle
{
 FONT: 9pt "±¼¸²";
    line-height:140%;
    COLOR: #1A848B
}

TD.gray
{
    BORDER-RIGHT: #AEACAE 1px solid;
    BORDER-BOTTOM: #AEACAE 1px solid
}
TABLE.gray
{
    BORDER-TOP: #AEACAE 1px solid;
    BORDER-LEFT: #AEACAE 1px solid
}
TD.list
{
  BORDER-BOTTOM: #9D9D9C 1px dotted
}
.scroll1 {
    scrollbar-face-color: #A4A2A2;
    scrollbar-shadow-color: #7B7B7B3; 
    scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #7B7B7B3; 
	scrollbar-darkshadow-color: #7B7B7B3;
	scrollbar-track-color: #F8F8F8; 
	scrollbar-arrow-color: #F8F8F8
}
img
{
	border:0;
}